In [1]:
# probability of getting 3 when a die is rolled
ns = 6 #n(S) = {1,2,3,4,5,6}
na = 1 #n(A) = {3}
pa = na/ns # P(A)
print("probability of getting 3 is:", pa)

probability of getting 3 is: 0.16666666666666666

In [2]:
# probability of atleast getting one head when a coin is tossed thrice
ns = 8
na = 7
pa = na/ns
print("probability of getting atleast one head is:",pa)

probability of getting atleast one head is: 0.875

In [4]:
# A glass jar contains 5 red
ns = 10
na = 7
pa = na/ns
print("probability of getting not a blue jellybean is:",pa)

probability of getting not a blue jellybean is: 0.7

In [5]:
# If the probability thar person A will be alive in 20 years 
P = 0.7*0.5
print("probability that they will be alive after 20 years is:",P)

probability that they will be alive after 20 years is: 0.35

In [6]:
def event_probability(n,s):
    return n/s

In [7]:
# A fair die is tossed twice. Find prob of getting 4 or 
pa = event_probability(2,6)
pb = event_probability(3,6)
P = pa*pb
print("probability of getting a 4 or 5 on the first toss and 1,2, or 3 in second toss is:",P)

probability of getting a 4 or 5 on the first toss and 1,2, or 3 in second toss is: 0.16666666666666666

In [8]:
# A bag contains
pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)
print("probability of obtaining whilte black and green in that order is",(pw*pb*pg))

probability of obtaining whilte black and green in that order is 0.041666666666666664

In [10]:
# Calculate probability of drawing heart or club
# sample space
cards = 52
hearts = 13
clubs = 13
heart_or_club = event_probability(hearts , cards) + event_probability(clubs, cards)
print(heart_or_club)

0.5

In [13]:
# Calculate probability of drawing an ace, king or a queen 

ace = 4
king = 4
queen = 4
ace_king_or_queen = event_probability(ace , cards) + event_probability(king, cards) + event_probability(queen, cards)
print(ace_king_or_queen)

0.23076923076923078

In [14]:
# Calculate probability of drawing heart or ace
heart = 13
ace = 4
ace_of_hearts = 1
heart_or_ace = event_probability(heart , cards) + event_probability(ace, cards) - event_probability(ace_of_hearts, cards)
print(round(heart_or_ace, 1))

0.3

In [16]:
#Complementary events

In [17]:
#probability of not getting 5 when a fair die is rolled
ns = 6
na = 1
pa = na/ns
print("probability of not getting 5 is:",1-pa)

probability of not getting 5 is: 0.8333333333333334

In [18]:
#Conditional probability

In [19]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/shera/Downloads/student-mat (1).csv')
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [20]:
len(df)

395

In [21]:
df['grade_A'] = np.where(df['G3']*5 >= 80, 1, 0)

In [23]:
df['high_absenses'] = np.where(df['absences'] >= 10, 1, 0)

In [24]:
# add one more column to build a pivot table easier

In [25]:
df['count'] = 1

In [26]:
df = df[['grade_A','high_absenses','count']]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [27]:
final=pd.pivot_table(df,values='count',index=['grade_A'],columns=['high_absenses'],aggfunc=np.size,fill_value=0)

In [28]:
print(final)

high_absenses    0   1
grade_A
0              277  78
1               35   5

In [29]:
#P(A) is the prob of grade of 80 % or greater

#P(A) = (35 + 5) / (35 + 5 + 277 + 78)=0.10126582278481013
#

In [ ]:
P(A) is the prob of grade of 80 % or greater
P(A) = (35 + 5) / (35 + 5 + 277 + 78)=0.10126582278481013
P(B) is the prob of missing 10 or more classes
P(B) = (78 + 5)/(35 + 5 + 277 + 78)=
P(A or B) = 5 / (35 + 5 + 277 + 78) =
 And per formula , P(A/B) = P(A or B) / P(B), put it together
P(A/B) =  /
=0.06